{{define "title"}}
Dashboard
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{{end}}

{{define "script"}}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.table').DataTable({
                
            })
        })
    </script>
{{end}}

{{define "main"}}
    <h1 class="h4 pb-2 mb-3 text-danger border-bottom border-danger fs-1" >Created Task Tugas Golang DTS Batch III</h1>
    <a class= "btn btn-success mb-3"  href="/create"> <i "fa-solid fa-plus"></i>Create</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Assignor</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range $note := .Notes}}
                <tr>
                    <td>{{$note.Content}}</td>
                    <td>{{$note.Assignee}}</td>
                    <td>{{$note.Date}}</td>
                    <td>
                        {{if $note.IsDone}}
                        <button type="button" class="btn btn-success">Done  </button>
                        {{else}}
                        <a href="/edit/{{$note.ID}}" class="btn btn-warning"> Ubah </a>
                        <form class="d-inline" action="done/{{$note.ID}}" method="post">
                            <button type="submit" class= "btn btn-info"> Selesai </button>
                        </form>
                        {{end}}    

                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
